
form {
  width: 100%;
}
.search-bar-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
.search-bar-input {
  height: 40px;
  padding: 11px 13px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.search-bar-input::placeholder {
  color: #A7A7A7;
}

.search-bar-container button {
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 0px 5px 5px 0px;
}

@media (min-width: 576px) {
  .search-bar-container button {
    font-size: 14px;
  }
}

