.car-card-container {
  background-color: #EDEDED;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 22px;
}

.car-card-content {
  text-align: center;
  padding: 15px 22px;
}

.car-card-content h3 {
  font-size: 18px;
  font-weight: bold;
}

.car-card-content p {
  margin: 14px 0 38px;
  text-align: left;
  font-size: 14px;
  width: 270px;
  font-style: italic;
  color: #585858;
}

.car-card-content button {
  width: 100%;
}

@media (min-width: 576px) {
  .car-card-content p {
    font-size: 12px;
    width: 220px;
  }
}

@media (min-width:768px) {
  .car-card-content p {
    font-size: 14px;
    width: 320px;
  }
}


@media (min-width: 992px) {
  .car-card-content p {
    width: 255px;
  }
}


@media (min-width: 992px) {
  .car-card-content p {
    width: 260px;
  }
}
