.home-container {
  color: white;
  padding: 20px 10px;
}

.home-card {
  padding: 62px 28px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.home-image-container img {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.home-content-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content-container h2 {
  font-size: 22px;
  font-weight: 700;
  width: 300px;
}

.home-content-container p {
  font-size: 12px;
  width: 230px;
  align-self: center;
}

.home-link-container {
  text-align: center;
  padding: 30px;
  background: #EDEDED;
  border-radius: 10px;
}

.my-btn {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 174px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.home-link-container p {
  color: #585858;
  font-size: 18px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
  }

  .home-card {
    padding: 22px 100px 30px;
  }

  .home-image-container img {
    margin-bottom: 19px;
  }

  .home-content-container h2 {
    font-size: 36px;
    width: 450px;
  }

  .home-content-container p {
    font-size: 18px;
    width: 450px;
    align-self: center;
  }

  .home-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-link-container p {
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-card {
    padding: 80px 200px;
  }

  .home-link-container {
    padding: 40px 85px;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .home-card {
    padding: 85px 248px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 30px 150px;
  }
  .home-card {
    padding: 85px 75px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .home-content-container {
    text-align: left;
  }
}